[Desktop Entry]
Name=Audra
Comment=Reproductor de música
Exec=/home/amurpo/.local/bin/audra
Icon=com.audra.player
Terminal=false
Type=Application
Categories=Audio;Music;Player;GTK;
StartupWMClass=audra
