[Desktop Entry]
Name=Audra
Comment=Reproductor de música
Exec=audra
Icon=io.github.amurpo.audra
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Music;Player;GTK;
StartupWMClass=io.github.amurpo.audra
